/*main {*/
/*  align-content: center;*/
/*  box-sizing: border-box;*/
/*  display: grid;*/
/*  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',*/
/*    'Arial', sans-serif;*/
/*  hyphens: auto;*/
/*  line-height: 1.65;*/
/*  margin: 0 auto;*/
/*  max-width: 680px;*/
/*  min-height: 100vh;*/
/*  padding: 72px 0;*/
/*  text-align: center;*/
/*}*/
h1 {
  font-size: 32px;
  padding: 8px 0 8px 0;
  margin: 0 0 0 0;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
  margin: 4px 0;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

.App, form {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /*min-height: calc(100vh - 2rem);*/
}

label{
  margin: 0 0 16px 0;
}

button{
  width: 160px;
  height: 32px;
  font-size: 16px;
  margin: 16px 0 0 0;
}

.App div {
  background-color: #eff6fe;
  width: 300px;
  padding: 10px 50px;
}

.App div:nth-of-type(odd) {
  background-color: #dfeeff;
}

div.loader {
  animation: loader-spin infinite 1.2s linear;
  padding: 0;
  background-color: transparent !important;
  height: 50px;
  width: 50px;
  border: 5px solid #eee;
  border-bottom: 5px solid #007bff;
  border-radius: 50% !important;
  margin-top: 2rem;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hidden{
    display: none;
}
